{% extends 'practica_mvc/base_recibo.html' %}
<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>Editar factura</h2>
<form method="post" action="/facturas/edit/{{factura.pk}}/">
{% csrf_token %}
{{form.errors}}
{{form.non_field_errors}}
	
	<label for="nombre_empresa">Nombre de la empresa</label><br>
	<input type="text" name="nombre_empresa" id="nombre_empresa" placeholder="{{factura.empresa}}">
	<br>
	<br>
	<label for="fecha_pago">Fecha maxima de pago</label><br>
	<input type="date" name="fecha_pago" id="fecha_pago" placeholder="{{factura.fecha_pago}">
	<br>
	<br>
	<label for="cantidad">Cantidad facturada</label><br>
	<input type="number" name="cantidad" id="cantidad" placeholder="{{factura.cantidad}}">

	<br>
	<br>
	<select name="estado" id="estado">
   		<option value="Pagado" selected>Pagado</option>,.
   		<option value="Pendiente">Pendiente </option>
   		<option value="Acumulado">Acumulado</option>
	</select>
	<br>
	<br>
	<input type="submit" value="Actualizar" />

</form>
</body>
</html> -->



    {% block content %}
        <h1>Actualizar recibo</h1>
        <form method="POST" class="recibo-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Actualizar</button>
        </form>
    {% endblock %}