
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>Editar factura</h2>
<form method="post" action="/facturas/edit/{{factura.numero_factura}}/">
{% csrf_token %}
	<label for="numero_factura">Numero de la factura</label><br>
	<input type="text" name="numero_factura" id="numero_factura" placeholder="{{factura.pk}}">
	<br>
	<br>
	<label for="nombre_empresa">Nombre de la empresa</label><br>
	<input type="text" name="nombre_empresa" id="nombre_empresa" placeholder="{{factura.empresa}}">
	<br>
	<br>
	<label for="fecha_pago">Fecha maxima de pago</label><br>
	<input type="date" name="fecha_pago" id="fecha_pago" placeholder="{{factura.fecha_pago}">
	<br>
	<br>
	<label for="cantidad">Cantidad facturada</label><br>
	<input type="number" name="cantidad" id="cantidad" placeholder="{{factura.cantidad}}">

	<br>
	<br>
	<select name="estado" id="estado">
   		<option value="Pagado" selected>Pagado</option>,.
   		<option value="Pendiente">Pendiente </option>
   		<option value="Acumulado">Acumulado</option>
	</select>
	<br>
	<br>
	<input type="submit" value="Actualizar" />

</form>
</body>
</html>