<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2>Registrar factura</h2>
<form method="Post">
{% csrf_token %}
{{ form.errors }}
{{ form.non_field_errors }}
	<label for="numero_factura">Numero de la factura</label><br>
	<input type="text" name="numero_factura" id="numero_factura">
	<br>
	<br>
	<label for="empresa">Nombre de la empresa</label><br>
	<input type="text" name="empresa" id="empresa">
	<br>
	<br>
	<label for="fecha_pago">Fecha maxima de pago yyyy-mm-dd</label><br>
	<input type="date" name="fecha_pago" id="fecha_pago">
	<br>
	<br>
	<label for="cantidad">Cantidad facturada</label><br>
	<input type="number" step="0.01" name="cantidad" id="cantidad">

	<br>
	<br>
	<select name="estado" id="estado">
   		<option value="Pagado" selected>Pagado</option>
   		<option value="Pendiente">Pendiente </option>

   		<option value="Acumulado">Acumulado</option>
	</select>
	<br>
	<br>
	<input type="submit" value="Upload" />

	</form>
	<a href="{% url 'practica_mvc.views.listar_facturas' %}" >Home</a>
</body>
</html>