<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> helpMapp - Quiero ser Voluntario</title>
		<link rel="stylesheet" href="../styles/principal.css">
		<link href="../dist/css/bootstrap.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
		<link href="../styles/index.css" rel="stylesheet">
		<link href="../styles/hdft.css" rel="stylesheet">
		<link href="../styles/voluntario.css" rel="stylesheet">
		<link rel="icon" href="https://goo.gl/bJHmja">
		<!-- Important Owl stylesheet -->
	    <link rel="stylesheet" href="../styles/owl.carousel.css">
	    <!-- Default Theme -->
	    <link rel="stylesheet" href="../styles/owl.theme.css">
	</head>
	<body>script src="../js/owl.carousel.js"></script>
	</body>
</html>