<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Práctica :: Campos Ocultos</title>
</head>

<body>
    <h1>Página 3</h1>
    <div>
        <table>
            <tr>
                <td>Usuario: </td>
                <td></td>
            </tr>
            <tr>
                <td>Contraseña: </td>
                <td></td>
            </tr>
            <tr>
                <td>Valor 1: </td>
                <td></td>
            </tr>
            <tr>
                <td>Valor 2: </td>
                <td></td>
            </tr>
            <tr>
                <td>Resultado: </td>
                <td></td>
            </tr>
        </table>
    </div>
</body>

</html>