<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Práctica :: Campos Ocultos</title>
</head>

<body>
    <h1>Página 2</h1>
    <div>
        <table>
        {% if form %}
        {% csrf_token %}
                {{ form.errors }}
        {{ form.non_field_errors }}
            <tr>
                <td>Usuario: {{ form.name}}</td>
            </tr>
            <tr>
                <td>Contraseña: {{ form.password}}</td>
            </tr>
        {% endif %}
        </table>
    </div>
    <form action="{% url 'practica_mvc.views.controlador2' %}" method="post">
        {% if form %}{% csrf_token %}

        <div>
        <br><br>
            <label for="valor1">Valor 1:</label>
        
            <input type="text" id="valor1" name="valor1">   
    <br><br>
        
        
            <label for="valor2">Valor 2:</label>
        
            <input type="text" id="valor2" name="valor2">   
    <br><br>
    
            <input type="hidden" id="name" name="name" value ='{{form.name.value}}'> 
            <input type="hidden" id="password" name="password" value='{{form.password.value}}'>
            {% endif %}
<br><br>
        
        <input type="submit" value="NEXT">

            </div>
    </form>
</body>

</html>